form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  font-family: arial;
}

form input[type="text"] {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

form textarea {
  height: 4.75rem;
  width: 100%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}


